h1, p {
    color: white;
    margin: inherit;
}

.main { 
    display: grid;
    background: #c84e4d;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.center { 
    grid-column: 1 / 13;
    text-align: center;
}

.form {
    grid-row: 5 / 9;
    grid-column: 3 / 11;
    background: white;
    border-radius: 10px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }
    button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #c84e4d;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
      }
      p {
        color: black;
        text-align: left;
        font-size: 1.25rem;
      }
}

.text { 
    grid-row: 4;
    grid-column: 3 / 11;
    text-align: center;
    font-size: 1.25rem;
}

.fejers-img {
    grid-row: 1 / 3;
    grid-column: 6 / 8;
    text-align: center;
    width: 12rem;
    margin: auto;
}