<!DOCTYPE html>
<html>
<head>
    <%- include('./include/head.ejs'); %>
</head>
<body>
        <!-- 1. Dúvidas - Portal BJ
        2. Dúvidas - Novo PE da Rede
        3. Dúvidas - Contratos
        4. Info - Resultados da Minha EJ e da Rede
        5. Info - Serviços das EJs da Rede
        6. Bench - Engajamento de Time
        7. Bench - Vendas
        8. Bench - Gerenciamento de Projetos
        9. Bench - Processo Seletivo
        10. Bench - Sistema de Gestão
        11. Bench - Formação de liderença
        12. Info - Estratégia FEJERS
        13. Info - Governança FEJERS -->
    <div class="main">
        <img src="/img/fejers.png" class="fejers-img" alt="Logo FEJERS">
        <h1 class="center">@botquedale</h1>
        <p class="text">Adicione novas referências para o bot indicar para os empresários juniores no Slack.</p>
        <div class="form">
            <% if(message == 'Salvo com sucesso!') { %>
                <p class="message-success"><%= message %></p>
            <% } else { %>
                <p class="message-error"><%= message %></p>
            <% } %>
            <form class="login-form" action="/save" method="POST">
                <p>Selecione o tópico: </p>
                <select name="topic" type="text" placeholder="Tópico">
                    <option value="-1">Selecione uma opção</option>
                    <option value="0" name="1. Dúvidas - Portal BJ">1. Dúvidas - Portal BJ</option>
                    <option value="1" name="2. Dúvidas - Novo PE da Rede">2. Dúvidas - Novo PE da Rede</option>
                    <option value="2" name="3. Dúvidas - Contratos">3. Dúvidas - Contratos</option>
                    <option value="3" name="4. Info - Resultados da Minha EJ e da Rede">4. Info - Resultados da Minha EJ e da Rede</option>
                    <option value="4" name="5. Info - Serviços das EJs da Rede">5. Info - Serviços das EJs da Rede</option>
                    <option value="5" name="6. Bench - Engajamento de Time">6. Bench - Engajamento de Time</option>
                    <option value="6" name="7. Bench - Vendas">7. Bench - Vendas</option>
                    <option value="7" name="8. Bench - Gerenciamento de Projetos">8. Bench - Gerenciamento de Projetos</option>
                    <option value="8" name="9. Bench - Processo Seletivo">9. Bench - Processo Seletivo</option>
                    <option value="9" name="10. Bench - Sistema de Gestão">10. Bench - Sistema de Gestão</option>
                    <option value="10" name="11. Bench - Formação de liderença">11. Bench - Formação de liderença</option>
                    <option value="11" name="12. Info - Estratégia FEJERS">12. Info - Estratégia FEJERS</option>
                    <option value="12" name="13. Info - Governança FEJERS">13. Info - Governança FEJERS</option>
                </select>
                <p>Descrição</p>
                <input type="text" name="descrp" id="descrp" placeholder="Descrição">
                <p>Cole aqui o link para a referência: </p>
                <input name="link" type="link" placeholder="Link"/>
                <button>Cadastre</button>
            </form>
        </div>
    </div>
    <%- include('./include/scripts.ejs'); %> 
</body>
</html>