<!DOCTYPE html>
<html>
<head>
    <%- include('./include/head.ejs'); %>
</head>
<body>
    <div class="main">
        <img src="/img/fejers.png" class="fejers-img" alt="Logo FEJERS">
        <h1 class="center">@botquedale</h1>
        <p class="text">Adicione novas referências para o bot indicar para os empresários juniores no Slack.</p>
        <div class="form">
            <% if(message == 'Salvo com sucesso!') { %>
                <p class="message-success"><%= message %></p>
            <% } else { %>
                <p class="message-error"><%= message %></p>
            <% } %>
            <form class="login-form" action="/save" method="POST">
                <p>Selecione o tópico: </p>
                <select name="topic" type="text" placeholder="Tópico">
                    <option value="-1">Selecione uma opção</option>
                    <option value="0" name="Capacitação">Capacitação</option>
                    <option value="1" name="Construção de time">Construção de time</option>
                    <option value="2" name="Processo Seletivo">Processo Seletivo</option>
                    <option value="3" name="Planejamento Estratégico">Planejamento Estratégico</option>
                </select>
                <p>Descrição</p>
                <input type="text" name="descrp" id="descrp" placeholder="Descrição">
                <p>Cole aqui o link para a referência: </p>
                <input name="link" type="link" placeholder="Link"/>
                <button>Cadastre</button>
            </form>
        </div>
    </div>
    <%- include('./include/scripts.ejs'); %> 
</body>
</html>